body{
   margin: 0;
}

/* Navbar */
.navbar{
    width: 100%;
    background-color: #FFFBED;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navbar a {
    color: #000000;
    text-decoration: none;
    font-family: 'Dosis';
    font-weight: 600;
}

.menu ul li {
    float: right;
    display: inline-block;
    padding-right: 20px;
}

.logo img{
    float:left;
    width: 80px ;
    padding-left: 60px;
}

.menu{
    padding-right: 60px;
}

/* Header */
.header{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FEBD2F;
}

.header .texto{
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 40px ;
    float: left;
    padding-left: 80px;
    align-self: center;
}

.header .texto .btn{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 30px;
    background-color: #000000;
    border-radius: 12px;
}

.header .imagem{
    margin: auto;
}

/* Main */
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    background-color: #FFFBED;
}

.main .texto{
    align-self: center;
    font-family: 'Dosis';
    font-weight: 600;
    margin-left: 100px;
}
 
.main .texto h1{
    font-size: 4rem;
    color: #D09108;
}

.main .texto h2{
    font-size: 3rem;
    color: #8B5F00;
}

.main .form input{
    width:300px;
    height: 25px;
    border-radius: 8px;
    border: solid #8B5F00;
}

.main .form button{
    height: 35px;
    width: 40px;
    border: none;
    background-color: #8B5F00;
     border-radius: 5px;
    color: #FFFFFF; 
} 

.main .resposta{
    align-self: center;
    justify-self: center;
    font-family: 'Dosis';
    font-weight: 600;
    background-color: #FFF2C7;
    padding: 30px;
    color:#583C00;
}

/* Footer */
.footer{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding-bottom: 2rem; */
}

.footer .imagem{
    margin: auto;
}


.footer .faleConosco{
    color: #FEBD2F;
    justify-self: center;
    font-family: 'Dosis';
}

.footer .faleConosco ul {
    padding: 0%;
    list-style: none;
}

.footer .redesSociais{
    color: #FEBD2F;
    font-family: 'Dosis';
    justify-self: center;
}
.footer .redesSociais ul{
    list-style: none;
    padding: 0%;
    text-align: center;
}

.footer .redesSociais ul li a{
    font-size: 35px;
   color: #FEBD2F;
}